body{
  background:white;
  font-family: 'Work Sans', sans-serif;
}
.main {
  font-family:Arial;
  width:100%;
  display:block;
  margin:0 auto;
}
.banner {
  position: relative;
}
h1.accent {
  color: white;
  position: absolute;
  top: 30%;
  left: 25%;
  width: 15%;
  line-height: 1.5;
}
h2.accent {
  color: white;
  position: absolute;
  top: 60%;
  left: 40%;
  width: 20%;
  line-height: 1.5;
  text-align: center;
}
.slider-link {
  color: #56D6C9;
  position: absolute;
  top: 85%;
  left: 47%;
  width: 20%;
  line-height: 1.5;
  font-family: 'Rubik', sans-serif;
}
.text {
  color: white;
  position: absolute;
  top: 40%;
  left: 25%;
  width: 50%;
}
h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}
.bg-img {
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}
.slider-img {
  margin: auto;
}
.shape {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 30%;
}
.news-section {
  margin-bottom: 20rem;
}
.news-title {

}
.news {
  height:100%;
width:100%;
justify-content:center;
align-items:center;
overflow:hidden;
}
.news img {
  flex-shrink:0;
    min-width:100%;
    min-height:100%;
    max-width:100%;
    height:auto;
    object-fit:cover;
}
.news p{
  padding: 4rem;
  background-color: #FFEEE6;
  font-size: 18px;
}


.fixed-content {
  position:fixed;
  z-index: 10;
  width:100%;
  height:100%;
  margin:auto;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
.content {
  width:640px;
  margin:50px auto;
}
.content-text {
  position: relative;
  float:right;
  width:370px;
}
.slide {
  position: absolute;
  top: 30%;
  left:0;
  width:100%;
  z-index: 0;
}
.slide p {
  font-size: 24px;
  margin-top: 1rem;
}
.slide .animatable {
  opacity:0;
  -webkit-transform:translate(0,30px);
  transform:translate(0,30px);
  -webkit-transition:opacity 0.4s ease,-webkit-transform 0.4s ease;
  transition:opacity 0.4s ease,transform 0.4s ease;

}
.slide.active.remove .animatable {
  opacity:0;
  -webkit-transform:translate(0,-20px);
  transform:translate(0,-20px);
}

.slide.active .animatable {
  opacity:1;
  -webkit-transform:translate(0,0);
  transform:translate(0,0);

}
.slide.active {
  z-index: 10;
}


.color-white {
  color: white;
}
.color-blue {
  color: #0E0E8B;
}
.color-orange {
  color: #FF6519;
}
.color-green {
  color: #208379;
}
.btn-blue {
  background-color: #0E0E8B;
  border-color: #0E0E8B;
  padding: .5rem 3rem;
  font-family: 'Rubik', sans-serif;
  margin-top: 3rem;
}

.btn-orange {
  background-color: #FF6519;
  border-color: #FF6519;
  padding: .5rem 3rem;
  font-family: 'Rubik', sans-serif;
  margin-top: 3rem;
}

.pagination {
  display: block;
  position:fixed;
  right:15%;
  top: 20%;
  transform: translateY(-50%);
  font-size:1.4em;
  z-index: 10;
}
.pagination a {
  display:none;
  height:25px;
  margin-bottom:5px;
  color:white;
  position:relative;
  padding:4px;
  cursor: default;
}
.pagination a.active:after {
  box-shadow:inset 0 0 0 7px;
  color: #0E0E8B;
}
.pagination a .hover-text {
  position:absolute;
  right:15px;
  top:7px;
  opacity:0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  padding-right: 15px;
}
.pagination a:hover .hover-text {
  opacity: 1;
}
.pagination a:after {
  -webkit-transition:box-shadow 0.5s ease;
  transition:box-shadow 0.5s ease;
  width:15px;
  height:15px;
  display: block;
  border:1px solid;
  border-radius:50%;
  content:'';
  position: absolute;
  margin:auto;
  top:0;
  right:4px;
  bottom:0;
  box-shadow:inset 0 0 0 7px;
}


.footer {
  background-color: #292A2E;
  padding-bottom: 5rem;
}
.footer-left {
  margin-top: 5rem;
  margin-left: 30rem;
}
.footer a {
  color: #fff;
}
.footer ul {
  list-style: none;
  display: inline-flex;
}
.footer li {
  margin: 0 1rem;
}
.social-icon {
  margin-bottom: 5rem;
  margin-left: 3rem;
  margin-top: 1rem;
}
.social-icon i {
  margin: 0 .5rem;
}
.footer-title {
  font-family: 'Rubik', sans-serif;
  color: #56D6C9;
  margin-top: 5rem;
}
.footer-text {
  color: #fff;
  font-weight: 500;
  width: 30%;
}
.footer-form {
  width: 30%;
}
.footer-form button {
  background-color: #56D6C9;
  border-color: #56D6C9;
  color: #000;
}

/* major partners */
.partners {
  background-color: #F0F0F5;
  padding-top: 5rem;
}
.partner-logo {
  padding: 3rem 0 10rem 0;
}


/* footer slider */
.slick-dots {
  top: 55%;
}
.slick-prev {
  left: 32%;
  z-index: 10;
}
.slick-prev:before, .slick-next:before {
  opacity: 1;
  line-height: .5;
}
.slick-prev:before {
  content: url("../img/arrow-left.svg");
}
.slick-next:before {
  content: url("../img/arrow-right.svg");
}
.slick-next {
  right: 33%;
  z-index: 10;
}
.slick-prev, .slick-next {
  top: 47%;
}
.footer-slide {
  background: linear-gradient(180deg, #F0F0F5 50%, #fff 50%);
}

/* join us in Dubai */
.showcase {
  margin-top: 10rem;
  margin-bottom: 15rem;
}
.icon1{
  background-color: #208379;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
}
.icon1 img,
.icon2 img,
.icon3 img {
  margin: 1.5rem;
}
.icon-text {
  font-family: 'Rubik', sans-serif;
  margin-top: 2rem;
  text-align: center;
}
.icon2{
  background-color: #0E0E8B;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
}
.icon3{
  background-color: #D14600;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
}